<h1>Add a new student</h1>
<form action="/students/new" method="post">
  <label for="student-name">student name:</label>
  <input id="student-name" name="student-name" type="text">
  <label for="enrollment-date">student enrollment date:</label>
  <input id="enrollment-date" name="enrollment-date" type="date">
  <button type="submit">Add new student</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/students">View all students</a></p>
